*{
    margin: 0;
    padding: 0;
    list-style: none;
}

main{
    background-color: rgb(10, 10, 37);
}

.navbar{
    background-color: rgb(21, 21, 80);
    border-bottom: 1px solid rgb(34, 34, 131);
    padding: 1em;
}

input{
    background-color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    margin-right: 10px;
    margin-top: 10px;
}

button{
    background-color: rgb(68, 68, 255);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

button:hover{
    cursor: pointer;
    background-color: rgb(56, 56, 192);
}

.upper-container{
padding: 0;
}

.container{
    padding: 2em;
    display: flex;
    flex-direction: column;
}

.font-mid{
    font-size: 1.5rem;
}

.card{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 2em 0;
    padding: 1em 2em;
    background-color: rgb(21, 21, 80);
    color: white;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border: 1px solid rgb(34, 34, 131);
    text-align: center;
}

.flag-icon-container{
    display: flex;
    gap: 10px;
}

.flag-icon{
    max-width: 40px;
}

.my{
    margin: 1em 0;
}

.img-poster{
    margin: 1em 0;
    border: 1px solid white;
    border-radius: 10px;
}